.form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: ($spacing*4);
  background-color: $formBColor;
  width: 500px;
  display: flex;
  flex-direction: column;
  &_radio_group {
    display: flex;
    justify-content: space-evenly;

    > li {
      text-align: center;
    }
  }
}

.radio {
  margin: ($spacing *2) ;
}