.form {
  padding: ($spacing*4);
  width: 500px;
  display: flex;
  flex-direction: column;
  &_radio_group {
    display: flex;
    justify-content: space-evenly;

    > li {
      text-align: center;
    }
  }
}

.radio {
  margin: ($spacing *2) ;
}