// global variables config
$avatarList: (
        img01: "https://spotim-demo-chat-server.herokuapp.com/avatars/001-snorlax.png",
        img02: "https://spotim-demo-chat-server.herokuapp.com/avatars/002-psyduck.png",
        img03: "https://spotim-demo-chat-server.herokuapp.com/avatars/003-pikachu.png",
        img04: "https://spotim-demo-chat-server.herokuapp.com/avatars/004-jigglypuff.png",
        img05: "https://spotim-demo-chat-server.herokuapp.com/avatars/005-bullbasaur.png",
);

$chatBColor: #FFFFFF;
$chatRoomBColor: #A4C3EF;
$formBColor: #FFFFFF;

// global units
$spacing: 5px;