$avatarList: (
        img01: "https://spotim-demo-chat-server.herokuapp.com/avatars/001-snorlax.png",
        img02: "https://spotim-demo-chat-server.herokuapp.com/avatars/002-psyduck.png",
        img03: "https://spotim-demo-chat-server.herokuapp.com/avatars/003-pikachu.png",
        img04: "https://spotim-demo-chat-server.herokuapp.com/avatars/004-jigglypuff.png",
        img05: "https://spotim-demo-chat-server.herokuapp.com/avatars/005-bullbasaur.png",
);

$buttonTextColor: #000000;
$buttonBColor: #FFFFFF;
$buttonBColorHover: #D3D3D3;
$shadowHover: #000000;

body {
  margin: 0;
  padding: 0;

  .spotim-header {
    text-align: center;
    background-color: #0082DD;
    height: 150px;
    padding: 20px;
    color: white;
    .spotim-title {
      font-size: 1.5em;
    }
  }

  .form {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: #D6E1FF;
    display: flex;
    flex-direction: column;

    .form_row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5%;

      .avatar_radio_group {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  @each $avatarName, $avatarUrl in $avatarList {
    .avatar_#{$avatarName} {
      background: url($avatarUrl) center center no-repeat;
      width: 30px;
      height: 30px;
      background-size: cover;
    }
  }


  .chat_box_container {
    position: absolute;
    bottom: 0;
    padding: 5px;
    margin: 5px;

    .chat_box {
      border: 1px solid black;
      height: 300px;
      width: 300px;
      overflow-y: auto;
    }

    .send_box {
      display: flex;
      padding: 5px 0;
    }
  }
}

.primary_title {
  text-decoration: underline;
  font-weight: bold;
  margin: 20px 20px;
  padding: 20px 0;
  font-size: 22px;
}

.secondary_title {
  font-weight: bold;
  font-size: 18px;
}

.primary_input {
  padding: 5px;
  flex: 1 1 auto;

  &:hover{
    box-shadow: 1px 1px $shadowHover;
  }
}

.primary_button {
  width: 50%;
  padding: 20px;
  margin: auto;
  background-color: $buttonBColor;
  color: $buttonTextColor;

  &:hover{
    background-color: $buttonBColorHover;
    box-shadow: 1px 1px $shadowHover;
  }

  .big {
    height: 50px;
    line-height: 50px;
    width: 100%;
  }
}


.secondary_button {
  padding: 20px;
  background-color: $buttonBColor;
  color: $buttonTextColor;

  &:hover{
    background-color: $buttonBColorHover;
    box-shadow: 1px 1px $shadowHover;
  }
}


