$avatarList: (
        img01: "https://spotim-demo-chat-server.herokuapp.com/avatars/001-snorlax.png",
        img02: "https://spotim-demo-chat-server.herokuapp.com/avatars/002-psyduck.png",
        img03: "https://spotim-demo-chat-server.herokuapp.com/avatars/003-pikachu.png",
        img04: "https://spotim-demo-chat-server.herokuapp.com/avatars/004-jigglypuff.png",
        img05: "https://spotim-demo-chat-server.herokuapp.com/avatars/005-bullbasaur.png",
);

$buttonTextColor: #000000;
$buttonBColor: #FFFFFF;
$buttonBColorHover: #95D0D4;
$shadowHover: #000000;
$userMessageBColor: #81BBAF;
$otherMessageBColor: #6E8EBB;
$chatBColor: #FFFFFF;
$chatRoomBColor: #A4C3EF;
$formBColor: #FFFFFF;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
b,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

*,
:before,
:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  .spotim-header {
    text-align: center;
    background-color: #0082DD;
    height: 150px;
    padding: 20px;
    color: white;
    .spotim-title {
      font-size: 1.5em;
    }
  }

  .form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $formBColor;
    display: flex;
    flex-direction: column;

    .form_row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5%;

      .avatar_radio_group {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  @each $avatarName, $avatarUrl in $avatarList {
    .avatar_#{$avatarName} {
      background: url($avatarUrl) center center no-repeat;
      width: 30px;
      height: 30px;
      background-size: cover;
    }
  }

  .chat_box_container {
    position: fixed;
    background-color: $chatRoomBColor;
    bottom: 0;
    padding: 5px;
    margin: 5px;
    width: 310px;

    .chat_box {
      border-top: 5px double $chatRoomBColor;
      height: 300px;
      width: 300px;
      overflow-y: auto;
      background-color: $chatBColor;

      .chat_item {
        padding: 5px;
        min-height: 50px;
        line-height: 50px;
        display: flex;

        &.default_msg {
          flex-direction: row-reverse;
        }

        .chat_item_avatar {
          min-width: 75px;
          display: flex;
          flex-direction: column;
          line-height: 20px;
          height: 100px;
          width: 70px;

          .chat_item_avatarName{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .chat_item_avatarImg {
            margin: auto;
          }

          .chat_item_timestamp {
            text-align: center;
          }
        }

        .chat_item_text {
          border-radius: 5px;
          padding: 0 5px;
          line-height: 20px;
          max-width: 280px;
          min-width: 50px;
          word-break: break-all;
          margin: 0 5px;

          &.my_msg {
            background: $userMessageBColor;
          }

          &.default_msg {
            background: $otherMessageBColor;
          }
        }
      }
    }

    .send_box {
      display: flex;
      padding-top: 5px;
    }
  }
}

.primary_title {
  text-decoration: underline;
  font-weight: bold;
  margin: 20px 20px;
  padding: 20px 0;
  font-size: 22px;
}

.secondary_title {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.primary_input {
  padding: 5px;
  flex: 1 1 auto;

  &:hover {
    box-shadow: 1px 1px $shadowHover;
  }
}

.primary_button {
  width: 50%;
  padding: 20px;
  margin: auto;
  background-color: $buttonBColor;
  color: $buttonTextColor;

  &:hover {
    background-color: $buttonBColorHover;
    box-shadow: 1px 1px $shadowHover;
  }

  .big {
    height: 50px;
    line-height: 50px;
    width: 100%;
  }
}

.secondary_button {
  padding: 20px;
  background-color: $buttonBColor;
  color: $buttonTextColor;

  &:hover {
    background-color: $buttonBColorHover;
    box-shadow: 1px 1px $shadowHover;
  }
}




